{% extends "home.html" %}
{% load crispy_forms_tags %}
{% block link %}
<li class="nav-item">
    <a class="nav-link btn btn-outline-light" href="{% url "homepage" %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link btn btn-outline-light ml-3" href="{% url "add_book" %}">Add Book</a>
</li>
<li class="nav-item">
    <a class="nav-link btn btn-outline-light ml-3" href="{% url "show_book" %}">Book List</a>
</li>
{% endblock link %}

{% block introduction %}
  
{% endblock introduction %}

{% block body %}
<div class = "container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white ">
                    <h3 class="card-title">Registration</h3>
                </div>
                <div class="card-body" style="background-color: #F0EFEF;">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary mt-3">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
