{% extends "home.html" %}
{% block introduction %}
{% endblock introduction %}

{% block link %}
<li class="nav-item">
    <a class="nav-link btn btn-outline-light" href="{% url "homepage" %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link btn btn-outline-light ml-3 " href="{% url "add_book" %}">Add Book</a>
</li>
<li class="nav-item">
    <a class="nav-link btn btn-outline-light ml-3 " href="{% url "show_book" %}">Book List</a>
</li>
{% endblock link %}

{% block body %}
    <iframe src="{{ book.pdf.url }}" width="100%" height="900px"></iframe>
{% endblock %}